body {
    background: #FFF;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #e60000;
	font-family: arial, sans-serif;
	text-decoration:none;
}

	nav li {
  float: left;
}

nav li a{
	display: block;
	color: white;
	text-align: center;
  	padding:10px;
  	text-decoration:none;
}

header {
    background-color: #efe2a2;
    color: black;
    font-family: edwardian script itc regular, serif;
    font-size: 60px;
    padding-top: 15px;
    padding-left: 10px;
    }

header div {
    max-height: 0px;
    text-align: center;
    
}

h1{
    color: black;
    font-family: edwardian script itc regular, serif;
    font-size: 32px;
}

p {
    color: black;
    font-family: technicbold regular, sans-serif;
    
}