--- There may be an issue concerning the class tag for pictures and padding them, DO NOT FORGET---

body {
    background: #efe2a2;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #e60000;
	font-family: arial, sans-serif;
	text-decoration:none;
}

nav li {
  float: left;
}

nav li a{
	display: block;
	color: white;
	text-align: center;
  	padding:10px;
  	text-decoration:none;
}

header {
    background-color: #efe2a2;
    color: black;
    font-family: edwardian script itc regular, serif;
    font-size: 60px;
    font-weight: bold;
}

section{
    background-color: #FFF;
    padding-left: 10px;
    border-color: black;
    border-style: dotted;
    border-width: 5px;
}

.description{
    color: black;
    font-family: technicbold regular, sans-serif;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px
}

.picture{
    padding: 25px;
    width: 410px;
    height: 280px;
}

#home_picture{
    padding-left: 350px;
    padding-top: 50px;
}
   

p{
    padding-left: 70px;
    font-family: technicbold regular, sans-serif;
    max-width: 900px;
}

h1{
    color: black;
    font-family: edwardian script itc regular, serif;
    font-size: 40px;
    text-align: center;
}

h2{
    font-family: technicbold regular, sans-serif;
    font-size: 24px;
    padding-left: 35px;
}

h3{
    padding-left:15px;
}


footer{
    background-color: #e60000;
    padding-top: 10px;
    padding-bottom: 15px;
}

.footer{
    color: black; 
    padding-left: 10px;
}

legend{
    font-family: technicbold regular, sans-serif;
    font-weight: bolder;
    font-size: 18px;
}

form {
    padding-top: 15px;
    padding-bottom: 15px;
}

table{
    text-align: center;
    font-family: technicbold regular,sans-serif;
}

table th{
    font-size: 18px;
    text-decoration: underline;
    text-align:center;
}

table td{
    font-size: 14px;
    text-align: center;
}

section ul li{
    font-size: 18px;
}

.below_menu_container{ 
    padding-top: 25px;
}

.title{
    text-align: center;
    font-family: edwardian script itc regular, serif;
    font-weight: bold;
    text-decoration: underline;
}

.logo{
    display:block;
    margin:auto;
}

 .active {
      background-color: #b7000f;
    }